<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HLSM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HLSM.Properties.Settings>
            <setting name="HLPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ExclusiveKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundDestName" serializeAs="String">
                <value>voice_input.wav</value>
            </setting>
            <setting name="CleanupFilenames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TickInterval" serializeAs="String">
                <value>32</value>
            </setting>
        </HLSM.Properties.Settings>
    </userSettings>
</configuration>